<html>
<head>
    <title>$action.getActionName($action.getClass().getName())</title>
</head>

<body>
<content tag="selectedWebItem">seo-admin-item</content>

    #parse ( "/template/includes/actionmessages.vm" )
    #parse ( "/template/includes/actionerrors.vm" )
    <pre>#parse ( "/license.txt" ) </pre>

</body>
</html>
