<?xml version="1.0" encoding="UTF-8"?>
<urlset
        xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

#foreach ($pageDef in $urlList)
    #if ($pageDef.isComment()))

    <!-- ${pageDef.comment} -->

    #else

    <url>
        #if ($stringUtils.isNotBlank($pageDef.comment))<!-- $generalUtil.htmlEncode(${pageDef.comment}) -->#end

        <loc>${pageDef.url}</loc>
        #if ($stringUtils.isNotBlank($pageDef.lastmod))<lastmod>${pageDef.lastmod}</lastmod>#end

        #if ($stringUtils.isNotBlank($pageDef.changefreq))<changefreq>${pageDef.changefreq}</changefreq>#end

        #if ($stringUtils.isNotBlank($pageDef.priority))<priority>${pageDef.priority}</priority>#end

    </url>
    #end
#end

</urlset>